<h1 style="font-size: bolder; text-align: center">To Do List</h1>
<input type="search" name="search" placeholder="Todo Search" (keyup)="search($event)">
<form style="text-align: center" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
  <input style="border: 2px solid black;
    border-radius: 11px;
    width: 362px;
    height: 30px;
    outline: none;
    font-size: 20px;" type="text" [formControl]="myForm.controls['email']">
  <br><input type="password" [formControl]="myForm.controls['password']">
  <br><input type="submit" style="text-align: center">
</form>
<p *ngFor="let a of state$ | async">{{a.value.email}}</p>
<!--<input (keyup)="search($event)">-->
<ul>
  <h1>
    <li *ngFor="let list of keys(lists)" style="border: 1px solid black;border-radius: 10px;margin-top: 10px;text-align: center;">
      {{lists[list]}}</li>
  </h1>
</ul>

<style>
  input[type=search] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }













  input[type=search]:focus {
    width: 100%;
  }
</style>